td.coupleSet {
	width: 200px;
	height: 40px;
}

#couple {
	background: #aeaeae;
	color: black;
	font-weight: bold;
	font-size: 24px;
}

#teacher {
	background: #e0e0e0;
	color: black;
	font-size: 18px;
}

#classroom {
	background: #bcbcbc;
	color: black;
	width: 70px;
	font-size: 30px;
}

#num {
	background: #e0e0e0;
	color: black;
	width: 30px;
	font-size: 30px;
}

body {
	font-family: Calibri;
}

table {
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
}

td {
	padding: 0px;
	border: 2px solid black;
}

#mondayTable {
	display: none;
}

#mondayCheck:checked ~ label ~ #mondayTable {
	display: block;
}

#tuesdayTable {
	display: none;
}

#tuesdayCheck:checked ~ label ~ #tuesdayTable {
	display: block;
}